{% extends 'tests/base.html' %}

{% block content %}

<a href="./add" class="btn btn-primary" role="button">Add test</a>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Student</th>
        <th>Student DoB</th>
        <th>Test PIN</th>
        <th>Test question</th>
        <th>Active dates</th>
        <th>Passed date</th>
        <th>Grade</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

{% for test in object_list %}
      <tr>
        <td><a href="{% url 'tests:student-update' test.student.id %}">{{ test.student }}</a></td>
        <td>{{ test.student.student_dob|date:"d.m.y" }}</td>
        <td>
        	{% if test.testlog_set.all|length == 0 %}	
        		<a href="{% url 'tests:test-update' test.id %}">{{ test.pin_code }}</a>
        	{% else %}
        		{{ test.pin_code }}
        	{% endif%}

        </td>
        <td>{{ test.question }}</td>
        <td>{{ test.active_from|date:"d.m" }} - {{ test.active_till|date:"d.m" }}</td>
        <td><a href="{% url 'tests:test-check' test.id %}">
        	{% if test.date_passed %}
        		{{ test.date_passed|date:"d.m.y" }}
                	({{ test.testlog_set.all|length }})</a>
        	{% else %}
        		Not passed
        	{% endif %}
        </td>
        <td>
        	{% if test.grade %}
        		{{ test.grade }}
        	{% endif %}
        </td>
        <td>{% if test.testlog_set.all|length == 0 %}	
        		<a href="{% url 'tests:test-delete' test.id %}" class="glyphicon glyphicon-remove" style="color:red" title="{{ test.testlog_set.all|length }} test logs"></a>
        	{% endif %}
        	
        </td>

      </tr>      

{% empty %}
<tr>
    <td colspan="5">No tests yet.</td>
</tr>    
{% endfor %}
    </tbody>

  </table>
</div>


{% endblock %}