{% extends 'tests/base.html' %}

{% block content %}
  <script>
  $( function() {
    $( "#id_active_from" ).datepicker({ dateFormat: 'yy-mm-dd' });
  } );
  $( function() {
    $( "#id_active_till" ).datepicker({ dateFormat: 'yy-mm-dd' });
  } );
  </script>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}

{% if test.testlog_set.all|length == 0 %}
    <input type="submit" value="Save" />
{% else %}
<div class="alert alert-danger">
  You cannot remove test, it's already been started by the student.
</div>
{% endif %}

</form>

{% endblock %}