{% extends 'tests/base.html' %}

{% block content %}


<div class="container-fluid margin10">
  <div class="row">
  	<div class="col-sm-12 text-center">
		<a href="{% url 'tests:testlogbypin' test.pin_code %}" target="_blank">Open this test's logs ({{ test.testlog_set.all|length }})</a>
    {% if test.question.question_type.type_name == "Writing" %}
                <h1>Number of words in the answer: ___will_be_here_later___</h1>
    {% endif %}
	</div>


	<div class="col-sm-7 answer">
			<form action="" method="post" style="width=95%">
				{% csrf_token %}
				{{ form.media }}
				{{ form.as_p }}
			        <input type="submit" value="Save" />
			</form>
	</div>
	<div class="col-sm-5 question">
		{{ object.question_text|safe }}
	</div>

  </div>
</div>


{% endblock %}